.settings/
.classpath
.project
target/
bin/
.vscode/
.factorypath
.springBeans
dependency-reduced-pom.xml
build
*.versionsBackup
invest-plugins/invest-plugin-ui-actiondev/src/main/resources/ui/dev-action
invest-common/invest-core/.sts4-cache
